@page "/scanner"
@using ZXing.Net.Maui;
@inject ITicketService its

<h3>MauiScanner</h3>

<button @onclick="DoScanAsync">Scan</button>

<br />

Scan Result: @scanResultLabel

@code
{
    [Parameter]
    public int concertId { get; set; }

    private string scanResultLabel;

    public async Task DoScanAsync()
    {
        var scanResults = await GetScanResultsAsync();
        var barcode = scanResults;
        if (barcode != null && EnsureCorrectConcert(barcode.Value))
        {
            scanResultLabel = $"Barcodes: {barcode.Format} -> {barcode.Value}";
            try
            {
                its.ScanTicket(barcode.Value);
            }
            catch
            {
                scanResultLabel = "There was a problem with that scan.";
            }
        }
        else
        {
            scanResultLabel = "There was a problem with that code.";
        }
    }

    public async Task<BarcodeResult> GetScanResultsAsync()
    {
        var cameraPage = new CameraPage();

        await Application.Current.MainPage.Navigation.PushModalAsync(cameraPage);

        var results = await cameraPage.WaitForResultAsync();

        await Application.Current.MainPage.Navigation.PopModalAsync();

        return results;
    }

    public bool EnsureCorrectConcert(string barcode)
    {
        throw new NotImplementedException(); //TODO: IMPLEM<ENT THIS
    }
}