@page "/tickets"
@inject ITicketService ticketservice

@if (IsInitialized)
{
    <h3>Tickets</h3>
    @if(tickets != null)
    {
        @foreach(Ticket t in tickets)
        {
            @t.Concert
            <br />
            @t.Timescanned
            <br />
        }
    }
}

@code {
    private bool IsInitialized = false;
    private List<Ticket> tickets;

    protected async override Task OnInitializedAsync()
    {
        base.OnInitializedAsync();

        try
        {
            tickets = (List<Ticket>)await ticketservice.GetAll();
        }
        catch
        {
            
        }

        IsInitialized = true;
    }
}
