@using LibraryTRU.Data
@using LibraryTRU.IServices
@inject IConcertService ics
<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Select an event</h1>
        </div>
    </div>
</div>
<div id="selectionbuttons">
    <div>
        @foreach (Concert shows in Concerts)
        {
            
        }
            <!--For each event in the event table
            <button class="btn" href="purchase/concertname">@artistname<button> 
        -->
    </div>
</div>

@code {
    List<Concert> Concerts;

    protected override async Task OnInitializedAsync()
    {
        Concerts = (List<Concert>)await ics.GetAll();
    }
}
